@section extraCSS {

    <link href="~/Content/css/ABout.css" rel="stylesheet" />
}


<div class="row">
    <h1>About</h1>
    <p id="about">
        Welcome to Team Money Team City Tours. Created  in 2018 at Tech Elevator
        The reason for this website is to make money and of course to help you find the
        best places to visit in Cincinnati and Northern Kentucky.
        This App will help you plan your visit. By registering you can save delete, edit and share your itinariers
        To help you get started, we've added some popular landmarks around the city.
        <strong>Thank you!</strong>
    </p>

</div>