@section extraCSS {

    <link href="~/Content/css/About.css" rel="stylesheet" />
}


<div class="row">
    <div class="col text-center">
        <h1>About</h1>
        <blockquote class="blockquote">
            <p> People don't take trips, trips take people" <small>John Steinbeck</small> </p>

        </blockquote>
    </div>
    <div class="row">
        <div class="col-md-4">

        </div>
        <div class="col-md-4">

        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <h3 class="text ">Planning to visit the Queen City?</h3>

        <p style="text-align:center; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">
            You have come to the right place.This page will help you plan the best trip.
            We are devoted to creating the best expreiece during your visit to Cincinnati and Northern Kentucky.
            Finding the best historic landmarks might be a challenge when you dont have the best plan but 
            we got you covered! By registering you can save, delete, edit and share your itineriers with your family and friends.
        </p>
        <p>To help you get started, we've complied some popular landmarks around the city.</p>
    </div>
    <div class="col-md-2"></div>
    @*<div class="col-md-6">
            <h3 class="text">Planning to visit the Queen City?</h3>

            <p>
                This page will help you make the best out of you trip.
                We are devoted to plan your visit to Cincinnati and Northern Kentucky.
                Finding the best historic landmarks might be a challenge when you dont have the best plan but we got you covered! By registering you can save, delete, edit and share your itineriers with your family and friends.
            </p>

            <p>To help you get started, we've added some popular landmarks around the city.</p>
        </div>*@
</div>
<div id="team-container" class="row">
    <div class="col-md-3 teammate">
        <img class="img-fluid" src="~/Content/img/Denise.PNG" />
    </div>
    <div class="col-md-3 teammate">
        <img class="img-fluid" src="~/Content/img/Byron.jpg" />
    </div>
    <div class="col-md-3 teammate">
        <img class="img-fluid" src="~/Content/img/Jake.PNG" />
    </div>
    <div class="col-md-3 teammate">
        <img class="img-fluid" src="~/Content/img/Hannah.PNG" />
    </div>
</div>
@*<div class="row">
    <div class="col-md-4">
        <h3 class="text"><strong> Plan your visit with us!</strong></h3>

        <p>
            This page will help you make the best out of you trip.
            We are devoted to plan your visit to Cincinnati and Northern Kentucky.
            Finding the best historic landmarks might be a challenge when you dont have the best plan but we got you covered! By registering you can save, delete, edit and share your itineriers with your family and friends.
        </p>

        <p>To help you get started, we've added some popular landmarks around the city.</p>
    </div>
    <div class="col-md-4">
        <h3 class="text">Blah?</h3>
        <p>
            This page will help you make the best out of you trip.
            We are devoted to plan your visit to Cincinnati and Northern Kentucky.
            Finding the best historic landmarks might be a challenge when you dont have the best plan but we got you covered! By registering you can save, delete, edit and share your itinariers with your family and friends.
        </p>

        <p>To help you get started, we've added some popular landmarks around the city.</p>
    </div>
    <div class="col-md-4">
        <h3 class="text">Blah Blah?</h3>
        <p>
            This page will help you make the best out of you trip.
            We are devoted to plan your visit to Cincinnati and Northern Kentucky.
            Finding the best historic landmarks might be a challenge when you dont have the best plan but we got you covered! By registering you can save, delete, edit and share your itinariers with your family and friends.
        </p>

        <p>To help you get started, we've added some popular landmarks around the city.</p>
    </div>
</div>*@