@using Capstone.Web.Models
@model FullUserModel

@section extraCss{
    <link href="~/Content/css/Home.css" rel="stylesheet" />
    <link href="~/Content/css/ItineraryForm.css" rel="stylesheet" />
}

<div id="preferred-container" class="row">
    <div class="col">
        <nav class="nav nav-pills nav-fill">
            <a class="nav-item nav-link disabled" href="#">Popular Itineraries:</a>
            <a class="nav-item nav-link" href="#">Museums</a>
            <a class="nav-item nav-link" href="#">Parks</a>
            <a class="nav-item nav-link" href="#">Restaurants</a>
        </nav>
    </div>
</div>

<div id="itinerary-container" class="row">
    <div id="itin-controls" class="col-md-5">
        <h2 class="text-center">My Intineraries</h2>

        <button id="new-itn" class="nav-item nav-link btn-warning" href="#">New</button>

        <div class="col">
            <div class="row">
                <div class="form">
                    <form id="ItineraryForm" method="post" action="@Url.Action("Create", "Itinerary")">

                        <div class="form-group row">
                            <label for="colFormLabel" class="col-sm-2 col-form-label">Title</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="colFormLabel" placeholder="Title">
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label for="description">Description</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>
                       
                        <div class="form-group row">
                            <label for="colFormLabel" class="col-sm-2 col-form-label">Departure Date</label>
                            <div class="col-sm-10">
                                <input type="date" class="form-control" id="colFormLabel" placeholder="Departure Date">
                            </div>
                        </div>
                       <button type="submit" class="btn btn-success" href="#">Save</button>
                        
                    </form>

                    <div class="col">
                        <div class="form-group row">
                            <label for="colFormLabel" class="col-sm-2 col-form-label">Title</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="colFormLabel" placeholder="Title">
                            </div>
                        </div>
                        <br />
                        <div class="form-group row">
                            <label for="colFormLabel" class="col-sm-2 col-form-label">Creation Date</label>
                            <div class="col-sm-10">
                                <input type="date" class="form-control" id="colFormLabel" placeholder="Date Created">
                            </div>
                        </div>
                        <br/>
                        <div class="footer">
                            <div class="Landmark list">
                                Landark List
                                <ul class="list-group">
                                    <li class="list-group-item"></li>
                                    <li class="list-group-item"></li>
                                </ul>

                            </div>
                        </div>
                    </div>
                    <br/>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Delete</button>
                    <button type="submit" class="btn btn-success" >Save</button>

                </div>
            </div>
        </div>

    </div>
    <div id="map-container" class="col-md-7">
        <div id="map">

        </div>
    </div>
</div>

<!--Modal-->
<div class="modal fade" id="landmark-detail" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Cincinnati Museum</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

@section BottomJS{
    <script>
        $('document').ready(function() {
            @foreach (var itin in Model.Itineraries)
            {
                foreach (var land in itin.Landmarks)
                {
                    @: AddMarker({ coords:{ lat:@land.Latitude, lng:@land.Longtiude}, name: '@land.Name', address:'@land.Address', description:'@land.Description' });
                }
            }
        })
    </script>
}