@using Capstone.Web.Models
@model List<Landmark>
    
@section extraCSS{
    <link href="~/Content/css/ItineraryIndex.css" rel="stylesheet" />
}

<div id="itin-container" class="row">
    <div id="landmarks" class="col-md-2">
        <h3>Scheduled</h3>

    </div>
    <div id="itin-details" class="col-md-6">
        <h3>Itinerary</h3>
        <div class="card">
            <div class="card-header">

            </div>
            <div class="card-body">

            </div>
            <div class="card-footer">

            </div>
        </div>
    </div>
    <div id="map-container" class="col-md-4">
        <h3>Landmarks</h3>
        <div class="row">

        </div>
        <div class="row">

        </div>
    </div>
</div>