


<h1>About</h1>
<p>Welcome to Team Money Team City Tours. Created  in 2018 at Tech Elevator </p>
<span>The reason for this website is to make money and of course to help you find the</span>
<p> best places to visit in Cincinnati and Northern Kentuckey. </p>
<p>This App will help you plan your visit. By registering you can save delete, edit and share your itinariers</p>
<p>To help you get started, we've added some popular landmarks around the city.</p>
<p><strong>Thank you!</strong></p>