@model Capstone.Web.Models.FullUserModel
@section extraCSS {
    <link href="~/Content/css/register-login.css" rel="stylesheet" />
}
<h1>Temporary Mock POPULAR Itinerary Page</h1>
<p>place holder view page</p>