
<footer class="footer">
    <ul class="list-inline ">
        <li>
            <i class="fa fa-home"></i>1776 Mentor Ave Suite 355, Cincinnati, OH 45212
        </li>
        <li>
            <i class="fa fa-phone">(800)000-0000</i>
        </li>

        <li>
            <i class="fa fa-envelope-o">citytour@gmail.com</i>
        </li>
    </ul>
</footer>




