
<div class="footer">

    <div class="row">

        <i class="glyphicon-thumbs-up"></i>
        <p>
            <i class="fa fa-home"></i>1776 Mentor Ave Suite 355, Cincinnati, OH 45212
        </p>
        <p>
            <i class="fa fa-phone">(800)000-0000</i>
        </p>
        <p>
            <i class="fa fa-envelope-o">citytour@gmail.com</i>
        </p>
        <div class="copyRightText">
            <p>
                <span class="glyphicon glyphicon-copyright-mark"></span>
                Copyright © 2018. All Rights Reserved
            </p>
        </div>

    </div>


</div>

