


@model Capstone.Web.Models.Landmark
<style>
    .landmark{
        background-color:lightgray
    }
    .img {
        width: 100px;
        padding-bottom:5px;
        clear: both;
    }

    .detail {
        display: block;
    }
</style>

<div class="landmark">


    <div class="img">
        @*<img src="~/Content/img/@(Model.PicName)*@

        <img src="~/Content/img/Cincinnati-Zoo.jpg" alt="Alternate Text" />
    </div>
    <div class="detail">

        <div>  @Model.Name </div>
        <div>  @Model.Address </div>
        <div>  @Model.Description </div>
        <div>  @Model.Rating</div>
        
    </div>

</div>
