

@model Capstone.Web.Models.Landmarks


<title>Landmarks</title>
<form id="Landmarks" method="get" action="@Url.Action("Landmarks", "Landmarks")">
    <div>
        Address: @Html.Partial(Model.Address)
    </div>
    <div>
        Description: @Html.Partial(Model.Description);
    </div>
    <div>
        Name :@Html.Partial(Model.Name);
    </div>
    <div>

        Latitude : @Html.Partial(Model.Latitude.ToString()) Latitude:@Html.Partial(Model.Latitude.ToString())
    </div>

</form>