@using Capstone.Web.Models
@model List<Landmark>

@section extraCSS{
    <link href="~/Content/css/LandmarkManage.css" rel="stylesheet" />
}
@section topJS{
    <script src="~/Scripts/CreateLandmark.js"></script>
}
<div id="map-container" class="row pt-5">
    <div id="landmark-list-container" class="col-md-3">
        <h3 class="text-left">Landmarks</h3>
        @foreach (var landmark in Model)
        {
            <div class="card p-2" style="width: 100%;">
                <div class="row">
                    <div class="col-md-6">
                        <h5 class="card-title">@landmark.Name</h5>
                    </div>
                    <div class="col-md-3 px-2">
                        <a class="text-success text-center">Edit</a>
                    </div>
                    <div class="col-md-3 px-2">
                        <a class="text-danger  text-center">Delete</a>
                    </div>
                </div>
            </div>

        }
    </div>
    <div class="col-md-6">
        <input id="pac-input" class="controls" type="text" placeholder="Search Box">
        <div id="map"></div>
    </div>

    <div id="place-detail-form" class="col-md-3">
        <div class="row">
            <div class="col">
                <h3 class="text-left">Details</h3>
                <form id="LandmarkCreate" action="@Url.Action("Create", "Landmark")" method="post">
                    <div class="form-group">
                        <label for="PlaceId">Place ID</label>
                        <input id="PlaceId" class="form-control" type="text" name="PlaceId" value="" />
                    </div>
                    <div class="form-group">
                        <label for="Name">Name</label>
                        <input id="Name" class="form-control" type="text" name="Name" value="" />
                    </div>
                    <div class="form-group">
                        <label for="Address">Address</label>
                        <input id="Address" class="form-control" type="text" name="Address" value="" />
                    </div>
                    <div class="form-group">
                        <label for="Type">Type</label>
                        <input id="Type" class="form-control" type="text" name="Type" value="" />
                    </div>
                    <div class="form-group">
                        <label for="Latitude">Latitude</label>
                        <input id="Latitude" class="form-control" type="text" name="Latitude" value="" />
                    </div>
                    <div class="form-group">
                        <label for="Longitude">Longitude</label>
                        <input id="Longitude" class="form-control" type="text" name="Longitude" value="" />
                    </div>
                    <div class="form-group">
                        <label for="Description">Description</label>
                        <textarea id="Description" class="form-control" type="text" name="Description" value=""></textarea>
                    </div>
                    <input type="submit" value="Save" class="btn btn-info btn-block" />
                </form>

            </div>
        </div>
    </div>
</div>

<!------Body-->
@section BottomJS{
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCPzAfumWS9n3IJ-PGos47STA1mp4QuLZQ&libraries=places&callback=initAutocomplete"
            async defer></script>
}

