
@section extraCSS{
    <link href="~/Content/css/LandmarkCreate.css" rel="stylesheet" />
}
@section topJS{
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCPzAfumWS9n3IJ-PGos47STA1mp4QuLZQ&libraries=places&callback=initAutocomplete"></script>
}
<input id="pac-input" class="controls" type="text" placeholder="Search Box">
<div id="map"></div>

@section BottomJS{
    <script>
        
    </script>
}

