@using Capstone.Web.Models
@model Landmark

<style>
    .img {
        padding-bottom: 10px;
        clear: both;
        overflow: visible !important;
    }

    .detail {
        display: block
    }
</style>
<div class="row">
    <div class="col-12 col-md-8">



        <div class="detail">
            <div class="card bg-light mb-3" style="max-width: 150rem;">
                <div class="card">
                    <div class="card-header">
                        <h1> @Model.Name</h1>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">@Model.Address</h5>
                        <p class="card-text">@Model.Description</p>


                    </div>
                </div>


            </div>

            <div class="stars">
         

                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
            </div>
            <div class=" thumbs">

                <span class="glyphicon-thumbs-up"></span>
                <span class="fa fa-thumbs-down"></span>
                <i class="glyphicon-thumbs-up"></i>
            </div>


        </div>
    </div>
</div>
