@using Capstone.Web.Models
@model List<Landmark>

<div class="row">
    <div class="col-6 col-md-4">
        <div class="detail">
            <div class="card bg-light mb-3" style="max-width: 150rem;">

                @foreach (var landmark in Model)
                {
                    <form method="GET" action="@Url.Action("LandmarkDetail", "Landmark")">
                        <input type="hidden" value="id=@landmark.Id" />
                        <div class="card">
                            <div class="card-title">
                                <h1>@landmark.Name</h1>
                            </div>
                            <div class="card-body">
                                <h5>@landmark.Description</h5>
                                <p class="card-text">@landmark.Address</p>

                                <img src="~/Content/img/@(landmark.PicName).jpg" />

                            </div>
                            <div>

                            </div>
                            </div>

                    </form>
                    
                }
                <div>
                  
                </div>

            </div>
        </div>
    </div>
</div>

