
body{

}
/*stylesheet for Itineraryform */

#itin-controls {
    background-color: ivory;
    width:100%;
    padding:3px 4px 5px 3px;
    border:solid;
}

#landmark-controls {
    background-color: linen;
    border:solid;
        
}
  



