/*stylesheet for Registration & Login Views*/

div {
    margin-bottom: 10px;
}
.loginImg {
    width: 100%;
    height: auto;
    padding-left: 10px;
    padding-right: 10px

}
.bravoLogin {
   background-color: aliceblue;
}
.container {
  padding-left:0px;
  padding-right:0px;
}

#landingCarousel{
    width:100%;
    height: 75vh;
}

#header{
    max-height: 100vh;
}

.carousel-inner{
    height: 100%;
}

.carousel-item{
    height: 100%;
}