/*stylesheet for Registration & Login Views*/

div {
    margin-bottom: 10px;
}
.loginImg {
    width: 100%;
    max-height: 500px;
    padding-left: 10px;
    padding-right: 10px

}
.bravoLogin {
   background-color: aliceblue;
}
.container {
  padding-left:0px;
  padding-right:0px;
}