

body {
    
    box-sizing: border-box;
    background-color: aliceblue;
}

header .navbar {
    background-color: #11BFC1;
    height: 100px;
}

header .navbar img {
        height: auto;
        float: left;
        width: 120px;
    }
/*client-side validation css*/
label {
    display: inline-block;
    min-width: 200px;
}

    label.error {
        color: red;
    }

    label.valid {
        color: green;
    }

.footer {
    height: 80px;
    background-color: #11BFC1;
    width: 100%;
    color: aliceblue;
    position: fixed;
    left: 0;
    bottom: 0;
  
}


.footer .list-inline {
        text-align: left;
        display: inline-block;
    }
